name: CD

on:
  release:
    types:
      - published

jobs:
  cd:
    uses: halo-sigs/reusable-workflows/.github/workflows/plugin-cd.yaml@v3
    permissions:
      contents: write
    with:
      ui-path: "ui"
      pnpm-version: 9
      node-version: 22
      java-version: 21
      # 如需发布到应用市场，移除 skip-appstore-release 并设置 app-id
      skip-appstore-release: true
      # app-id: app-xyz
    # secrets:
    #   halo-pat: ${{ secrets.HALO_PAT }}
